<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>TanNES专业咨询媒体</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="http://localhost/news/css/style.css" rel="stylesheet" type="text/css">
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
<script src="http://localhost/news/js/jquery-3.1.1.min.js"></script>
<script src="http://localhost/news/js/style.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<link rel="shortcut icon" href="//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/favicon_8e9c9c7.ico" type="image/x-icon" />
</head>
<body>
<!-导航开始-!>
<div class="head">
	<div class="daohangz">
	    <div class="daohang">
			<a href="../news" class="daohangleft">NEWS首页</a>
      <a href="../news/Admin/" class="daohangright">后台</a>
	    </div>
    </div>
    <div class="zhong">
        <div class="juzhong">
        <!-logo:990*80-!>
         <a href="http://localhost/news"><img class="logo" src="http://localhost/news/images/logo.png" /></a>
         <img src="http://localhost/news/images/right.png" alt="" class="logor" width="600px" height="100px">
         </div>
    </div>
    <div id="daohangbiao">
       <div class="daohangbiaoz">
           <ul>
            <li class="d1"><a href="http://localhost/news" id="daohangshouye">网站首页</a></li>
            <li class="dn"><a href="#" >个人博客</a></li>
            <li class="dn"><a href="#" >最近更新</a></li>
            <li class="dn"><a href="#" >最热新闻</a></li>
           </ul>
       </div>
    </div>
</div>
<!-- <div id="app">
<template>
<div class="block">
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage4"
      :page-sizes="[5, 10, 20]"
      :page-size="5"
      layout="total, sizes, prev, pager, next, jumper"
      :total="400">
    </el-pagination>
  </div>
  </template>
</div> -->
